.topicDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topicArea {
    max-width: 800px;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.topicArea__main-topic {
    width: 100%;
    min-height: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.topicArea__comment {
    width: 80%;
    min-height: 200px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.topic__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topic__buttons {
    display: flex;
    justify-content: flex-end;
}

.comment__buttons {
    display: flex;

}